# Compiled outputs
dist/
*.zip

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/

# Test data
data/

# Various secrets
lib/secrets.js
syncprod.sh
database.sql

# IntelliJ files
.idea
sludge.iml

# Dev SSL cert
certs/*.csr
certs/*.crt
certs/*.key
certs/passphrase

# Dev environment
.env
