* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	margin: 0;
	padding: 0
}

html, body, #root {
	height: 100%
}

.main {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.react-tabs {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
}

.react-tabs__tab-list {
	flex: 0;
}

.react-tabs__tab-panel {
	flex: 1;
}

html {
	background: #f9f9f9
}

label {
	margin: 5px;
	position: relative;
	display: block;
	width: 100%;
}

label input {
	position: absolute;
	right: 0px;
}

.transactionAmount {
	text-align: right;
}

.container {
	display: flex;
	width: 100%
}

.container div {
    flex: 1;
}

.cell {
	padding: 5px;
}

.item {
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
	margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 12px;
	font-family: 'system-ui';
	position: relative;
	border-radius:4px;
	cursor: pointer;
}

.glyph {
	cursor: pointer;
}

.upload input {
	opacity: 0;
	position: absolute;
	right: 0px;
	top: 0px;
	line-height: 48px;
	width: 100%;
}
